<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}The Tech Recruiter Quiz!{% endblock %}</title>
        <link href="https://fonts.cdnfonts.com/css/jelly-anika" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link href="{{ asset("assets/styles/app.css") }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="icon" href="{{ asset("assets/images/computer.svg") }}">
    </head>
    <body>
        <div class="wrapper">
        {% block body %}{% endblock %}
            <hr>
        <footer>
            <div class="ftr-left">
                <a class="btn" href="https://www.smaine.me" target="_blank">Made by Smaïne but who am I?</a><br>
                <a class="btn" href="https://twitter.com/SmaineDev" target="_blank"> Follow me <i class="fab fa-twitter" style="color: #00acee;"></i></a><br>
                <a class="btn" href="https://www.linkedin.com/in/smainemilianni" target="_blank">Join me <i class="fab fa-linkedin-in" style="color:#0e76a8;"></i></a><br>
            </div>
        <div class="ftr-right">
            <a class="btn" href="https://smaine-milianni.medium.com/" target="_blank">My blog <i class="fa-brands fa-medium"></i></a><br>
            <a class="btn" href="mailto:contact@smaine.me" target="_blank">Contact Me <i class="fa-solid fa-envelope"></i></a><br>
            <a class="btn" href="https://github.com/ismail1432/recruiter-quiz" target="_blank">See the source code <i class="fa-brands fa-github"></i></a><br>
        </div>
        </footer>
        </div>
    </body>
</html>
